{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Banking System - Change Password
{% endblock %}

{% block body %}
<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
    <h1 class="font-bold text-3xl text-center pb-5 pt-2">Change Password</h1>
   

    <form method="post" class="mx-auto max-w-md">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
                    <p class="font-bold">Error!</p>
                    <p class="block sm:inline">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="flex flex-col mb-4">
            <label for="{{ form.old_password.id_for_label }}" class="text-gray-700 text-sm font-bold mb-2">Current Password</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <p class="text-red-600 text-sm italic mt-1">{{ form.old_password.errors }}</p>
            {% endif %}
        </div>

        <div class="flex flex-col mb-4">
            <label for="{{ form.new_password1.id_for_label }}" class="text-gray-700 text-sm font-bold mb-2">New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <p class="text-red-600 text-sm italic mt-1">{{ form.new_password1.errors }}</p>
            {% endif %}
        </div>

        <div class="flex flex-col mb-4">
            <label for="{{ form.new_password2.id_for_label }}" class="text-gray-700 text-sm font-bold mb-2">Confirm New Password</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <p class="text-red-600 text-sm italic mt-1">{{ form.new_password2.errors }}</p>
            {% endif %}
        </div>

        <div class="flex items-center justify-center mt-6">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Change Password
            </button>
        </div>
    </form>
</div>
{% endblock %}