asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
MouseInfo
mysql-connector-python
numpy
opencv-contrib-python
packaging
pillow
pip
pipenv
platformdirs
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
PyRect
PyScreeze
pytweening
rubicon-objc
setuptools
sqlparse
virtualenv